body { 
  margin: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #dbc7c7;
}



h1 {
  font-family: arial;
  margin-top: 10px;
  margin-left: 100px;
  font-size: 3em;
  color: white;
}